.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.box {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  max-width: 500px;
  width: 100%;
}


select {
  display: block;
  margin-bottom: 20px;
  width: 100%;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 1.2rem;
  font-weight: bold;
}

input[type="number"] {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

input[type="submit"] {
  background-color: #0c80f3;
  border: 6px solid #0ff166;
  border-radius: 10px;
  width: 100%;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px;
  margin-top: 20px;
}

input[type="submit"]:hover {
  background-color: #0ff166;
  border-color: #0c80f3;
  cursor: pointer;
}

h2 {
  margin-bottom: 20px;
  font-size: 2.5rem;
  text-align: center;
}
